* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
    

h1{
    text-transform: uppercase;
    color: #544541;
}
table{
    border: 1px solid #666;
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    margin: 10px auto 10px auto;
}
table thead th{
    background-color: #bebdb8;
    border: 1px solid #ddeeed;
    color: #544541;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
table tbody td{
    border: 1px solid #ddeeed;
    color: #666;
    padding: 10px;
}
a{
    /* background-color:  #d6cfc7; */
    color:  #544541;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}

.base{
    width: 400px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
label{
    margin-top: 10px;
    float: left;
    text-align: left;
    width: 100%;
}
input{
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 1.5px solid #ccc;
    outline-color: #544541;
}
button{
    background-color: #666;
    color: #d6cfc7;
    padding: 10px;
    font-size: 12px;
    border: 0;
    margin-top: 20px;
}
